.animated-word0-0 {
  animation: slide-words0 0s linear infinite;
}
.animated-word0-1 {
  animation: slide-words0 1s linear infinite;
}
.animated-word0-2 {
  animation: slide-words0 2s linear infinite;
}
.animated-word0-3 {
  animation: slide-words0 3s linear infinite;
}
.animated-word0-4 {
  animation: slide-words0 4s linear infinite;
}
.animated-word0-5 {
  animation: slide-words0 5s linear infinite;
}
.animated-word0-6 {
  animation: slide-words0 6s linear infinite;
}
.animated-word0-7 {
  animation: slide-words0 7s linear infinite;
}
.animated-word0-8 {
  animation: slide-words0 8s linear infinite;
}
.animated-word0-9 {
  animation: slide-words0 9s linear infinite;
}
.animated-word0-10 {
  animation: slide-words0 10s linear infinite;
}
.animated-word0-11 {
  animation: slide-words0 11s linear infinite;
}
.animated-word0-12 {
  animation: slide-words0 12s linear infinite;
}
.animated-word0-13 {
  animation: slide-words0 13s linear infinite;
}
.animated-word0-14 {
  animation: slide-words0 14s linear infinite;
}
.animated-word0-15 {
  animation: slide-words0 15s linear infinite;
}
.animated-word0-16 {
  animation: slide-words0 16s linear infinite;
}
.animated-word0-17 {
  animation: slide-words0 17s linear infinite;
}
.animated-word0-18 {
  animation: slide-words0 18s linear infinite;
}
.animated-word0-19 {
  animation: slide-words0 19s linear infinite;
}
.animated-word0-20 {
  animation: slide-words0 20s linear infinite;
}
.animated-word0-21 {
  animation: slide-words0 21s linear infinite;
}
.animated-word0-22 {
  animation: slide-words0 22s linear infinite;
}
.animated-word0-23 {
  animation: slide-words0 23s linear infinite;
}
.animated-word0-24 {
  animation: slide-words0 24s linear infinite;
}
.animated-word0-25 {
  animation: slide-words0 25s linear infinite;
}
.animated-word0-26 {
  animation: slide-words0 26s linear infinite;
}
.animated-word0-27 {
  animation: slide-words0 27s linear infinite;
}
.animated-word0-28 {
  animation: slide-words0 28s linear infinite;
}
.animated-word0-29 {
  animation: slide-words0 29s linear infinite;
}
.animated-word0-30 {
  animation: slide-words0 30s linear infinite;
}
.animated-word0-31 {
  animation: slide-words0 31s linear infinite;
}
.animated-word0-32 {
  animation: slide-words0 32s linear infinite;
}
.animated-word0-33 {
  animation: slide-words0 33s linear infinite;
}
.animated-word0-34 {
  animation: slide-words0 34s linear infinite;
}
.animated-word0-35 {
  animation: slide-words0 35s linear infinite;
}
.animated-word0-36 {
  animation: slide-words0 36s linear infinite;
}
.animated-word0-37 {
  animation: slide-words0 37s linear infinite;
}
.animated-word0-38 {
  animation: slide-words0 38s linear infinite;
}
.animated-word0-39 {
  animation: slide-words0 39s linear infinite;
}
.animated-word0-40 {
  animation: slide-words0 40s linear infinite;
}
.animated-word0-41 {
  animation: slide-words0 41s linear infinite;
}
.animated-word0-42 {
  animation: slide-words0 42s linear infinite;
}
.animated-word0-43 {
  animation: slide-words0 43s linear infinite;
}
.animated-word0-44 {
  animation: slide-words0 44s linear infinite;
}
.animated-word0-45 {
  animation: slide-words0 45s linear infinite;
}
.animated-word0-46 {
  animation: slide-words0 46s linear infinite;
}
.animated-word0-47 {
  animation: slide-words0 47s linear infinite;
}
.animated-word0-48 {
  animation: slide-words0 48s linear infinite;
}
.animated-word0-49 {
  animation: slide-words0 49s linear infinite;
}
.animated-word0-50 {
  animation: slide-words0 50s linear infinite;
}
.animated-word0-51 {
  animation: slide-words0 51s linear infinite;
}
.animated-word0-52 {
  animation: slide-words0 52s linear infinite;
}
.animated-word0-53 {
  animation: slide-words0 53s linear infinite;
}
.animated-word0-54 {
  animation: slide-words0 54s linear infinite;
}
.animated-word0-55 {
  animation: slide-words0 55s linear infinite;
}
.animated-word0-56 {
  animation: slide-words0 56s linear infinite;
}
.animated-word0-57 {
  animation: slide-words0 57s linear infinite;
}
.animated-word0-58 {
  animation: slide-words0 58s linear infinite;
}
.animated-word0-59 {
  animation: slide-words0 59s linear infinite;
}
.animated-word0-60 {
  animation: slide-words0 60s linear infinite;
}
.animated-word0-61 {
  animation: slide-words0 61s linear infinite;
}
.animated-word0-62 {
  animation: slide-words0 62s linear infinite;
}
.animated-word0-63 {
  animation: slide-words0 63s linear infinite;
}
.animated-word0-64 {
  animation: slide-words0 64s linear infinite;
}
.animated-word0-65 {
  animation: slide-words0 65s linear infinite;
}
.animated-word0-66 {
  animation: slide-words0 66s linear infinite;
}
.animated-word0-67 {
  animation: slide-words0 67s linear infinite;
}
.animated-word0-68 {
  animation: slide-words0 68s linear infinite;
}
.animated-word0-69 {
  animation: slide-words0 69s linear infinite;
}
.animated-word0-70 {
  animation: slide-words0 70s linear infinite;
}
.animated-word0-71 {
  animation: slide-words0 71s linear infinite;
}
.animated-word0-72 {
  animation: slide-words0 72s linear infinite;
}
.animated-word0-73 {
  animation: slide-words0 73s linear infinite;
}
.animated-word0-74 {
  animation: slide-words0 74s linear infinite;
}
.animated-word0-75 {
  animation: slide-words0 75s linear infinite;
}
.animated-word0-76 {
  animation: slide-words0 76s linear infinite;
}
.animated-word0-77 {
  animation: slide-words0 77s linear infinite;
}
.animated-word0-78 {
  animation: slide-words0 78s linear infinite;
}
.animated-word0-79 {
  animation: slide-words0 79s linear infinite;
}
.animated-word0-80 {
  animation: slide-words0 80s linear infinite;
}
.animated-word0-81 {
  animation: slide-words0 81s linear infinite;
}
.animated-word0-82 {
  animation: slide-words0 82s linear infinite;
}
.animated-word0-83 {
  animation: slide-words0 83s linear infinite;
}
.animated-word0-84 {
  animation: slide-words0 84s linear infinite;
}
.animated-word0-85 {
  animation: slide-words0 85s linear infinite;
}
.animated-word0-86 {
  animation: slide-words0 86s linear infinite;
}
.animated-word0-87 {
  animation: slide-words0 87s linear infinite;
}
.animated-word0-88 {
  animation: slide-words0 88s linear infinite;
}
.animated-word0-89 {
  animation: slide-words0 89s linear infinite;
}

.animated-word1-0 {
  animation: slide-words1 0s linear infinite;
}
.animated-word1-1 {
  animation: slide-words1 1s linear infinite;
}
.animated-word1-2 {
  animation: slide-words1 2s linear infinite;
}
.animated-word1-3 {
  animation: slide-words1 3s linear infinite;
}
.animated-word1-4 {
  animation: slide-words1 4s linear infinite;
}
.animated-word1-5 {
  animation: slide-words1 5s linear infinite;
}
.animated-word1-6 {
  animation: slide-words1 6s linear infinite;
}
.animated-word1-7 {
  animation: slide-words1 7s linear infinite;
}
.animated-word1-8 {
  animation: slide-words1 8s linear infinite;
}
.animated-word1-9 {
  animation: slide-words1 9s linear infinite;
}
.animated-word1-10 {
  animation: slide-words1 10s linear infinite;
}
.animated-word1-11 {
  animation: slide-words1 11s linear infinite;
}
.animated-word1-12 {
  animation: slide-words1 12s linear infinite;
}
.animated-word1-13 {
  animation: slide-words1 13s linear infinite;
}
.animated-word1-14 {
  animation: slide-words1 14s linear infinite;
}
.animated-word1-15 {
  animation: slide-words1 15s linear infinite;
}
.animated-word1-16 {
  animation: slide-words1 16s linear infinite;
}
.animated-word1-17 {
  animation: slide-words1 17s linear infinite;
}
.animated-word1-18 {
  animation: slide-words1 18s linear infinite;
}
.animated-word1-19 {
  animation: slide-words1 19s linear infinite;
}
.animated-word1-20 {
  animation: slide-words1 20s linear infinite;
}
.animated-word1-21 {
  animation: slide-words1 21s linear infinite;
}
.animated-word1-22 {
  animation: slide-words1 22s linear infinite;
}
.animated-word1-23 {
  animation: slide-words1 23s linear infinite;
}
.animated-word1-24 {
  animation: slide-words1 24s linear infinite;
}
.animated-word1-25 {
  animation: slide-words1 25s linear infinite;
}
.animated-word1-26 {
  animation: slide-words1 26s linear infinite;
}
.animated-word1-27 {
  animation: slide-words1 27s linear infinite;
}
.animated-word1-28 {
  animation: slide-words1 28s linear infinite;
}
.animated-word1-29 {
  animation: slide-words1 29s linear infinite;
}
.animated-word1-30 {
  animation: slide-words1 30s linear infinite;
}
.animated-word1-31 {
  animation: slide-words1 31s linear infinite;
}
.animated-word1-32 {
  animation: slide-words1 32s linear infinite;
}
.animated-word1-33 {
  animation: slide-words1 33s linear infinite;
}
.animated-word1-34 {
  animation: slide-words1 34s linear infinite;
}
.animated-word1-35 {
  animation: slide-words1 35s linear infinite;
}
.animated-word1-36 {
  animation: slide-words1 36s linear infinite;
}
.animated-word1-37 {
  animation: slide-words1 37s linear infinite;
}
.animated-word1-38 {
  animation: slide-words1 38s linear infinite;
}
.animated-word1-39 {
  animation: slide-words1 39s linear infinite;
}
.animated-word1-40 {
  animation: slide-words1 40s linear infinite;
}
.animated-word1-41 {
  animation: slide-words1 41s linear infinite;
}
.animated-word1-42 {
  animation: slide-words1 42s linear infinite;
}
.animated-word1-43 {
  animation: slide-words1 43s linear infinite;
}
.animated-word1-44 {
  animation: slide-words1 44s linear infinite;
}
.animated-word1-45 {
  animation: slide-words1 45s linear infinite;
}
.animated-word1-46 {
  animation: slide-words1 46s linear infinite;
}
.animated-word1-47 {
  animation: slide-words1 47s linear infinite;
}
.animated-word1-48 {
  animation: slide-words1 48s linear infinite;
}
.animated-word1-49 {
  animation: slide-words1 49s linear infinite;
}
.animated-word1-50 {
  animation: slide-words1 50s linear infinite;
}
.animated-word1-51 {
  animation: slide-words1 51s linear infinite;
}
.animated-word1-52 {
  animation: slide-words1 52s linear infinite;
}
.animated-word1-53 {
  animation: slide-words1 53s linear infinite;
}
.animated-word1-54 {
  animation: slide-words1 54s linear infinite;
}
.animated-word1-55 {
  animation: slide-words1 55s linear infinite;
}
.animated-word1-56 {
  animation: slide-words1 56s linear infinite;
}
.animated-word1-57 {
  animation: slide-words1 57s linear infinite;
}
.animated-word1-58 {
  animation: slide-words1 58s linear infinite;
}
.animated-word1-59 {
  animation: slide-words1 59s linear infinite;
}
.animated-word1-60 {
  animation: slide-words1 60s linear infinite;
}
.animated-word1-61 {
  animation: slide-words1 61s linear infinite;
}
.animated-word1-62 {
  animation: slide-words1 62s linear infinite;
}
.animated-word1-63 {
  animation: slide-words1 63s linear infinite;
}
.animated-word1-64 {
  animation: slide-words1 64s linear infinite;
}
.animated-word1-65 {
  animation: slide-words1 65s linear infinite;
}
.animated-word1-66 {
  animation: slide-words1 66s linear infinite;
}
.animated-word1-67 {
  animation: slide-words1 67s linear infinite;
}
.animated-word1-68 {
  animation: slide-words1 68s linear infinite;
}
.animated-word1-69 {
  animation: slide-words1 69s linear infinite;
}
.animated-word1-70 {
  animation: slide-words1 70s linear infinite;
}
.animated-word1-71 {
  animation: slide-words1 71s linear infinite;
}
.animated-word1-72 {
  animation: slide-words1 72s linear infinite;
}
.animated-word1-73 {
  animation: slide-words1 73s linear infinite;
}
.animated-word1-74 {
  animation: slide-words1 74s linear infinite;
}
.animated-word1-75 {
  animation: slide-words1 75s linear infinite;
}
.animated-word1-76 {
  animation: slide-words1 76s linear infinite;
}
.animated-word1-77 {
  animation: slide-words1 77s linear infinite;
}
.animated-word1-78 {
  animation: slide-words1 78s linear infinite;
}
.animated-word1-79 {
  animation: slide-words1 79s linear infinite;
}
.animated-word1-80 {
  animation: slide-words1 80s linear infinite;
}
.animated-word1-81 {
  animation: slide-words1 81s linear infinite;
}
.animated-word1-82 {
  animation: slide-words1 82s linear infinite;
}
.animated-word1-83 {
  animation: slide-words1 83s linear infinite;
}
.animated-word1-84 {
  animation: slide-words1 84s linear infinite;
}
.animated-word1-85 {
  animation: slide-words1 85s linear infinite;
}
.animated-word1-86 {
  animation: slide-words1 86s linear infinite;
}
.animated-word1-87 {
  animation: slide-words1 87s linear infinite;
}
.animated-word1-88 {
  animation: slide-words1 88s linear infinite;
}
.animated-word1-89 {
  animation: slide-words1 89s linear infinite;
}

.animated-word2-0 {
  animation: slide-words2 0s linear infinite;
}
.animated-word2-1 {
  animation: slide-words2 1s linear infinite;
}
.animated-word2-2 {
  animation: slide-words2 2s linear infinite;
}
.animated-word2-3 {
  animation: slide-words2 3s linear infinite;
}
.animated-word2-4 {
  animation: slide-words2 4s linear infinite;
}
.animated-word2-5 {
  animation: slide-words2 5s linear infinite;
}
.animated-word2-6 {
  animation: slide-words2 6s linear infinite;
}
.animated-word2-7 {
  animation: slide-words2 7s linear infinite;
}
.animated-word2-8 {
  animation: slide-words2 8s linear infinite;
}
.animated-word2-9 {
  animation: slide-words2 9s linear infinite;
}
.animated-word2-10 {
  animation: slide-words2 10s linear infinite;
}
.animated-word2-11 {
  animation: slide-words2 11s linear infinite;
}
.animated-word2-12 {
  animation: slide-words2 12s linear infinite;
}
.animated-word2-13 {
  animation: slide-words2 13s linear infinite;
}
.animated-word2-14 {
  animation: slide-words2 14s linear infinite;
}
.animated-word2-15 {
  animation: slide-words2 15s linear infinite;
}
.animated-word2-16 {
  animation: slide-words2 16s linear infinite;
}
.animated-word2-17 {
  animation: slide-words2 17s linear infinite;
}
.animated-word2-18 {
  animation: slide-words2 18s linear infinite;
}
.animated-word2-19 {
  animation: slide-words2 19s linear infinite;
}
.animated-word2-20 {
  animation: slide-words2 20s linear infinite;
}
.animated-word2-21 {
  animation: slide-words2 21s linear infinite;
}
.animated-word2-22 {
  animation: slide-words2 22s linear infinite;
}
.animated-word2-23 {
  animation: slide-words2 23s linear infinite;
}
.animated-word2-24 {
  animation: slide-words2 24s linear infinite;
}
.animated-word2-25 {
  animation: slide-words2 25s linear infinite;
}
.animated-word2-26 {
  animation: slide-words2 26s linear infinite;
}
.animated-word2-27 {
  animation: slide-words2 27s linear infinite;
}
.animated-word2-28 {
  animation: slide-words2 28s linear infinite;
}
.animated-word2-29 {
  animation: slide-words2 29s linear infinite;
}
.animated-word2-30 {
  animation: slide-words2 30s linear infinite;
}
.animated-word2-31 {
  animation: slide-words2 31s linear infinite;
}
.animated-word2-32 {
  animation: slide-words2 32s linear infinite;
}
.animated-word2-33 {
  animation: slide-words2 33s linear infinite;
}
.animated-word2-34 {
  animation: slide-words2 34s linear infinite;
}
.animated-word2-35 {
  animation: slide-words2 35s linear infinite;
}
.animated-word2-36 {
  animation: slide-words2 36s linear infinite;
}
.animated-word2-37 {
  animation: slide-words2 37s linear infinite;
}
.animated-word2-38 {
  animation: slide-words2 38s linear infinite;
}
.animated-word2-39 {
  animation: slide-words2 39s linear infinite;
}
.animated-word2-40 {
  animation: slide-words2 40s linear infinite;
}
.animated-word2-41 {
  animation: slide-words2 41s linear infinite;
}
.animated-word2-42 {
  animation: slide-words2 42s linear infinite;
}
.animated-word2-43 {
  animation: slide-words2 43s linear infinite;
}
.animated-word2-44 {
  animation: slide-words2 44s linear infinite;
}
.animated-word2-45 {
  animation: slide-words2 45s linear infinite;
}
.animated-word2-46 {
  animation: slide-words2 46s linear infinite;
}
.animated-word2-47 {
  animation: slide-words2 47s linear infinite;
}
.animated-word2-48 {
  animation: slide-words2 48s linear infinite;
}
.animated-word2-49 {
  animation: slide-words2 49s linear infinite;
}
.animated-word2-50 {
  animation: slide-words2 50s linear infinite;
}
.animated-word2-51 {
  animation: slide-words2 51s linear infinite;
}
.animated-word2-52 {
  animation: slide-words2 52s linear infinite;
}
.animated-word2-53 {
  animation: slide-words2 53s linear infinite;
}
.animated-word2-54 {
  animation: slide-words2 54s linear infinite;
}
.animated-word2-55 {
  animation: slide-words2 55s linear infinite;
}
.animated-word2-56 {
  animation: slide-words2 56s linear infinite;
}
.animated-word2-57 {
  animation: slide-words2 57s linear infinite;
}
.animated-word2-58 {
  animation: slide-words2 58s linear infinite;
}
.animated-word2-59 {
  animation: slide-words2 59s linear infinite;
}
.animated-word2-60 {
  animation: slide-words2 60s linear infinite;
}
.animated-word2-61 {
  animation: slide-words2 61s linear infinite;
}
.animated-word2-62 {
  animation: slide-words2 62s linear infinite;
}
.animated-word2-63 {
  animation: slide-words2 63s linear infinite;
}
.animated-word2-64 {
  animation: slide-words2 64s linear infinite;
}
.animated-word2-65 {
  animation: slide-words2 65s linear infinite;
}
.animated-word2-66 {
  animation: slide-words2 66s linear infinite;
}
.animated-word2-67 {
  animation: slide-words2 67s linear infinite;
}
.animated-word2-68 {
  animation: slide-words2 68s linear infinite;
}
.animated-word2-69 {
  animation: slide-words2 69s linear infinite;
}
.animated-word2-70 {
  animation: slide-words2 70s linear infinite;
}
.animated-word2-71 {
  animation: slide-words2 71s linear infinite;
}
.animated-word2-72 {
  animation: slide-words2 72s linear infinite;
}
.animated-word2-73 {
  animation: slide-words2 73s linear infinite;
}
.animated-word2-74 {
  animation: slide-words2 74s linear infinite;
}
.animated-word2-75 {
  animation: slide-words2 75s linear infinite;
}
.animated-word2-76 {
  animation: slide-words2 76s linear infinite;
}
.animated-word2-77 {
  animation: slide-words2 77s linear infinite;
}
.animated-word2-78 {
  animation: slide-words2 78s linear infinite;
}
.animated-word2-79 {
  animation: slide-words2 79s linear infinite;
}
.animated-word2-80 {
  animation: slide-words2 80s linear infinite;
}
.animated-word2-81 {
  animation: slide-words2 81s linear infinite;
}
.animated-word2-82 {
  animation: slide-words2 82s linear infinite;
}
.animated-word2-83 {
  animation: slide-words2 83s linear infinite;
}
.animated-word2-84 {
  animation: slide-words2 84s linear infinite;
}
.animated-word2-85 {
  animation: slide-words2 85s linear infinite;
}
.animated-word2-86 {
  animation: slide-words2 86s linear infinite;
}
.animated-word2-87 {
  animation: slide-words2 87s linear infinite;
}
.animated-word2-88 {
  animation: slide-words2 88s linear infinite;
}
.animated-word2-89 {
  animation: slide-words2 89s linear infinite;
}


@keyframes slide-words0 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-words1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-words2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

