@font-face {
  font-family: BigCaslon;
  src: url("./Fonts/BigCaslon.ttf");
}

@font-face {
  font-family: Helvetica-Neue-LT;
  src: url("./Fonts/Helvetica-Neue-LT-Std-75-Bold_22539.ttf");
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
}

.title {
  margin-left: 0.67em;
}

.title-text {
  font-family: BigCaslon;
}

.sorted-by {
  margin-left: 0.67em;
  font-family: Helvetica-Neue-LT;
}

.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10em);
  grid-gap: 1em;

  margin-top:     1.5vh;
  margin-bottom:  1.5vh;
  margin-left:    1.5vw;
  margin-right:   1.5vw;
  justify-content: space-between;
}

.item {
  border: 2px solid #fefefe;
  min-width: 10em;
  max-width: 10em;
  min-height: 12em;
  max-height: 12em;
}

.item-image {
  min-width: 10em;
  max-width: 10em;
  min-height: 10em;
  max-height: 10em;
  background-image: url("./21271038.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-label {
  min-width: 10em;
  max-width: 10em;
  min-height: 2em;
  max-height: 2em;
  text-align: center;
}

.dropbtn {
  position: relative;

  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-top: 0.67em;
  margin-right: 0.67em;
  position:absolute;
  top:0;
  right:0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: purple;
}
