* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: DomaineTextTest;
  text-transform: uppercase;

}

body {
  margin: 0 0 0 0;
  background-size: cover;
}


.background {
  position: relative;
  top: -40px;
  left: 50px;
  background-size: 300px 100px;
}

.blink_me {
  animation: blinker 1s linear infinite;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 150px;
  letter-spacing: 1.3px;
  color: #ededed;
  position: relative;
  text-align: center;
  top: 350px;
  background: linear-gradient(to right, #CCC 50%, #fcba03 50%, #d4a200);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me:hover {
 background-position: -100%;
}

h1{
 font-family: 'DotGothic16', sans-serif;
 font-weight: 400;
 font-style: italic;
 text-align: center;
 letter-spacing: 1.3px;
 color: #ededed;
}

h2{
 font-family: 'DotGothic16', sans-serif;
 font-weight: 300;
 font-style: normal;
 text-align: center;
 letter-spacing: 1.2px;
 color: #ededed;
 position: relative;
 top: 300px;
}


.section1{
  font-size: 20px;
  line-height: 37px;
  padding: 2em;
  text-align: center;
  top: 200px;
}

grid {
    display: grid;
    grid-template-columns: 3fr 8fr 3fr;
    grid-gap: 10px;
}

.grid-item {
    height: 500px;
}

.flexbox {
    display: flex;
    height: 100%;
}

.flexbox-item {
    margin: auto;
    text-align: center;
    line-height: 1.5em;
