@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0.5em;
}

.svg-import {
  width: 100%;
  height: auto;
  /* 100%; */
  overflow: visible;

}

.svg-image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(23);
}

.svg-image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(13);
}

.svg-image3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(12.5);
}

.svg-image4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(10.5);
}

.svg-image5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(17);
}

.svg-image6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(9.5);
}

.svg-image7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(17);
}

.svg-image8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(17);
}

.svg-image9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(28);
}

.svg-image10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(20);
}

.svg-image11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(14);
}

.svg-image12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(23);
}

.svg-image13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(10);
}

.svg-image14 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(12);
}

.svg-image15 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(8.5);
}

.svg-image16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(11);
}

.svg-image17 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(15);
}

.svg-image18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(12);
}

.svg-image19 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(17);
}

.svg-image20 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  transform: translate(3%, 0%) scale(11);
}



.flex-container {
  display: flex;
  flex-flow: row-reverse nowrap;

  list-style: none;
  border     : 2px solid #46A7D2;

  overflow: hidden;
  overflow-x: scroll;
}

.first-flex-item {
  margin-right: 0.5em;
}

.last-flex-item {
  margin-left: 0.5em;
}

.flex-item {
  height: 80vh;
  align-items: stretch;
  overflow: visible;

  margin-top: 0.5em;
  margin-bottom: 0.5em;

  /* font-weight: bold; */
  font-size: 1.5em;
  text-align: center;
  border: 2px solid #46A7D2;

  min-width: 7em;
  max-width: 7em;
}

.container {
  display:flex;
  flex-direction: column;
}

.box {
  flex: 1;
  padding: 10px;
  align-items: stretch;
}

.inner-box {
  text-align: center;
}

.inner-box:hover,
.inner-box:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  font-family: 'Spartan', sans-serif;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sliding-words-wrapper {
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  height: 70vh;
}

.sliding-words {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 0;
  color: #000;
}

.animated-word-0 {
  animation: slide-words 0s linear infinite;
}
.animated-word-1 {
  animation: slide-words 1s linear infinite;
}
.animated-word-2 {
  animation: slide-words 2s linear infinite;
}
.animated-word-3 {
  animation: slide-words 3s linear infinite;
}
.animated-word-4 {
  animation: slide-words 4s linear infinite;
}
.animated-word-5 {
  animation: slide-words 5s linear infinite;
}
.animated-word-6 {
  animation: slide-words 6s linear infinite;
}
.animated-word-7 {
  animation: slide-words 7s linear infinite;
}
.animated-word-8 {
  animation: slide-words 8s linear infinite;
}
.animated-word-9 {
  animation: slide-words 9s linear infinite;
}
.animated-word-10 {
  animation: slide-words 10s linear infinite;
}
.animated-word-11 {
  animation: slide-words 11s linear infinite;
}
.animated-word-12 {
  animation: slide-words 12s linear infinite;
}
.animated-word-13 {
  animation: slide-words 13s linear infinite;
}
.animated-word-14 {
  animation: slide-words 14s linear infinite;
}
.animated-word-15 {
  animation: slide-words 15s linear infinite;
}
.animated-word-16 {
  animation: slide-words 16s linear infinite;
}
.animated-word-17 {
  animation: slide-words 17s linear infinite;
}
.animated-word-18 {
  animation: slide-words 18s linear infinite;
}
.animated-word-19 {
  animation: slide-words 19s linear infinite;
}
.animated-word-20 {
  animation: slide-words 20s linear infinite;
}
.animated-word-21 {
  animation: slide-words 21s linear infinite;
}
.animated-word-22 {
  animation: slide-words 22s linear infinite;
}
.animated-word-23 {
  animation: slide-words 23s linear infinite;
}
.animated-word-24 {
  animation: slide-words 24s linear infinite;
}
.animated-word-25 {
  animation: slide-words 25s linear infinite;
}
.animated-word-26 {
  animation: slide-words 26s linear infinite;
}
.animated-word-27 {
  animation: slide-words 27s linear infinite;
}
.animated-word-28 {
  animation: slide-words 28s linear infinite;
}
.animated-word-29 {
  animation: slide-words 29s linear infinite;
}
.animated-word-30 {
  animation: slide-words 30s linear infinite;
}
.animated-word-31 {
  animation: slide-words 31s linear infinite;
}
.animated-word-32 {
  animation: slide-words 32s linear infinite;
}
.animated-word-33 {
  animation: slide-words 33s linear infinite;
}
.animated-word-34 {
  animation: slide-words 34s linear infinite;
}
.animated-word-35 {
  animation: slide-words 35s linear infinite;
}
.animated-word-36 {
  animation: slide-words 36s linear infinite;
}
.animated-word-37 {
  animation: slide-words 37s linear infinite;
}
.animated-word-38 {
  animation: slide-words 38s linear infinite;
}
.animated-word-39 {
  animation: slide-words 39s linear infinite;
}
.animated-word-40 {
  animation: slide-words 40s linear infinite;
}

@keyframes slide-words {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}